body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh; /* Use minimum height of 90% of the viewport */
}

.image-container, .login-container {
    flex: 1; /* Each container will take up half the width of their parent */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
}

.image-container img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Maintain aspect ratio and fit within container */
}

.login-container {
    max-width: 400px;
    margin: auto 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
}

.login-container img {
    max-width: 400px;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
    width: calc(100% - 20px); /* Adjust for button padding */
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding in width calculation */
    border: 1px solid;
    border-radius: 5px; /* Changed from 20px to 5px */
}

.error-message {
    color: red;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    color: #666;
}
