/* DoctorDashboard.css */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.live-status {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  margin: 75px;
}

.live-status h2 {
  margin-bottom: 5px;
  
}

.queue-number {
  font-size: 24px;
  font-weight: bold;
}

.container {
  text-align: center;
}

.form-heading {
  text-align: center;
}

.patient-form {
  text-align: left;
}

.form-row {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-row label {
  flex: 1;
  margin-right: 10px;
  text-align: left;
}

.form-row span,
.form-row input {
  flex: 2;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.form-row button {
  flex: 1;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #0056b3;
}

.form-row .report-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.form-row .report-btn:hover {
  background-color: #cc0000;
}
